@import '../../sass/utils';

.main-nav {
  $block-name: &; // имя блока - .main-nav

  &__list { // списки
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;

    &_level-1 { // список верхнего уровня - главное меню
      display: flex;
      justify-content: center;
      transform: none !important;

      @include for-phone-landscape-down {
        display: block;
      }
    }

    &:not(&_level-1) { // все вложенные списки
      position: absolute;
      opacity: 0;
      min-width: 100%;
      transition: transform .5s, opacity .4s;
      transform-origin: center top;
    }

    &_level-2 { // списки 2го уровня
      transform: scaleY(0);
    }

    &:not(&_level-2) { // списки не 2го уровня
      top: 0;

      @include for-phone-landscape-down {
        transform: scaleY(0);
        top: 100%;
      }
    }

    &_visible { // все видимые списки. Класс добавляется посредством js компонента
      transition: transform .5s, opacity .4s;
    }

    &_level-2#{$block-name}__list_visible { // видимые списки 2го уровня
      transform-origin: center top;
      transform: scaleY(1);
    }

    &:not(&_level-1)#{$block-name}__list_visible { // видимые списки не 1го уровня
      opacity: 1;
    }

    &:not(&_level-2)#{$block-name}__list_visible { // видимые списки не 2го уровня
      transform: translateX(101%);

      @include for-phone-landscape-down {
        transform: scaleY(1);
      }
    }
  }

  &__item { // элементы списков
    position: relative;

    @include for-phone-landscape-down {
      border-left: 0 !important;
      border-right: 0 !important;
    }

    &_level-1 { // элементы списков 1го уровня
      border-right: 1px solid #c7c8ca;

      #{$block-name}__link_level-1::before { // декоративный элемент слева для ссылок элементов списка 1го уровня. Например - иконка
        position: absolute;
        top: 15px;
        left: 12px;
        font-family: inherit;
        font-size: 18px;
      }

      //&:first-child { // декоративный элемент для 1го элемента списка верхнего уровня
      //
      //  #{$block-name}__link_level-1::before {
      //    content: '\f015';
      //  }
      //}
      //
      //&:nth-child(2) { // декоративный элемент для 2го элемента списка верхнего уровня
      //
      //  #{$block-name}__link_level-1::before {
      //    content: '\f07a';
      //  }
      //}
      //
      //&:nth-child(3) { // декоративный элемент для 3го элемента списка верхнего уровня
      //
      //  #{$block-name}__link_level-1::before {
      //    content: '\f085';
      //  }
      //}
      //
      //&:nth-child(4) { // декоративный элемент для 4го элемента списка верхнего уровня
      //
      //  #{$block-name}__link_level-1::before {
      //    content: '\f00b';
      //  }
      //}
      //
      //&:nth-child(5) { // декоративный элемент для 5го элемента списка верхнего уровня
      //
      //  #{$block-name}__link_level-1::before {
      //    content: '\f2b6';
      //  }
      //}
    }

    &:not(&_level-1) { // элементы списка не 1го уровня
      border: 1px solid #c7c8ca;
      border-top: 0;
    }

    &:not(&_level-2) { // элементы списка не 2го уровня
      border-left: 0;
    }

    &_has-child { // элементы списка, содержащие вложенные списки(подменю)

      > #{$block-name}__link::after { // декоративный элемент справа для ссылок элементов списка. Например - иконка
        content: '\f0d7';
        position: absolute;
        top: 15px;
        right: 12px;
        font-family: Fontawesome, Arial, sans-serif;
        transition: transform .5s;
      }
    }

    &_has-child:not(&_level-1) { // декоративный элемент справа для ссылок элементов списка не 1го уровня(для вложенных подменю). Например - иконка

      > #{$block-name}__link::after {
        top: 12px;
        transform: rotate(-90deg);

        @include for-phone-landscape-down {
          transform: none;
        }
      }
    }

    //&_level-1:first-child { // 1ый элемент списка 1го уровня
    //  border-left: 1px solid #b2b3b5;
    //}

    //&_level-1:last-child { // последний элемент списка 1го уровня
    //  border-right: 1px solid #b2b3b5;;
    //}

  }

  &__link { // ссылки
    position: relative;
    z-index: 200;
    display: block;
    font-size: 14px;
    color: #454547;
    background-color: #ececed;
    background-image: linear-gradient(to bottom, #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease;
    cursor: pointer;

    @include for-tablet-landscape-down {
      z-index: auto;
    }

    &:not(&_level-1) { // ссылки списков не 1го уровня
      padding: 10px;
      text-transform: none;
      background: #e4e4e5;
    }

    &:hover {
      color: #fff;
      background-color: #454547;
      background: linear-gradient(to bottom, #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%);
      box-shadow: 1px 5px 10px -5px black;
      transition: all .5s ease;

      &::before {
        color: #fff;
      }
    }

    &_level-1 { // ссылки списков 1го уровня
      padding: 15px 30px 15px 40px;
    }

    &_active { // ссылки с классом "active", добавляемым посредством js компонента

      &::after {
        transform: rotate(180deg) !important;
      }
    }
  }
}